/*Reset*/
body{
    margin: 0;
    background: linear-gradient(0deg, #0008ff 0%, #fa7000 35%, #c800ff 99%);
}
/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-family: "anta", "roboto", "sans-serif";
    font-size: 60px;
}
.logo{
    width: 90px;
    height: auto;
    padding-left: 20px;
}
header span {
    width: 100px;
}
/*Main*/
.title{
    font-family: "anta", "roboto", "sans-serif";
    font-size: 2em;
    margin-left: 20px;
}
#main-wrapper{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}
main img{
    width: 40%;
    height: auto;
}
main article {
    width: 40%;
    font-size: 32px;
    font-family: "roboto";
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10%;
    padding: 20px;
}
/*Aside*/
#icon-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}
aside img {
    width: 50px;
}
#icon-wrapper img {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10%;
}
/*Section*/
#section-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.projects{
    width: 30%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./content/placeholder-image.png");
    background-size: contain;
}
/*Footer*/
footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer p {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}